<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>DETALLE CLASE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Información de la Clase</ion-card-title>
      <p><strong>ID:</strong> {{ clase.id }}</p>
      <p><strong>Sección:</strong> {{ clase.seccion }}</p>
      <p><strong>Profesor:</strong> {{ clase.profesor }}</p>
      <p><strong>Materia:</strong> {{ clase.materia }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>Alumnos en la Clase</ion-card-title>
      <ion-list>
        <ion-item *ngFor="let alumno of clase.alumnos">
          {{ alumno }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>


