<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="centr">
      <ion-card-title></ion-card-title>
      <ion-card-subtitle>Aquí puedes ver los detalles de tu registro</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          {{ alumno.nombre }}
        </ion-item>
        <ion-item>
          <ion-label>Apellido:</ion-label>
          {{ alumno.apellido }}
        </ion-item>
        <ion-item>
          <ion-label>RUT:</ion-label>
          {{ alumno.rut }}
        </ion-item>
        <ion-item>
          <ion-label>Correo:</ion-label>
          {{ alumno.correo }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>


