.bttn{

    width: 20em;
    height: 50px;
    justify-content: center;
    margin: auto;
    margin-top: 50px;

}

.laa{
    width: 20em;
    height: 50px;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    overflow: visible;
    
}