<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="homedocente" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form action="">
    <ion-item lines="full">
      <ion-label position="floating">Sección</ion-label>
      <ion-input type="text" name="txtSeccion" [(ngModel)]="newClase.seccion" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Profesor</ion-label>
      <ion-select name="selectProfesor" [(ngModel)]="newClase.profesor" required>
        <ion-select-option *ngFor="let profesor of profesoresDisponibles" [value]="profesor.nombre">{{ profesor.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Fecha</ion-label>
      <ion-input type="date" name="datefecha" [(ngModel)]="newClase.fecha" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Materia</ion-label>
      <ion-input type="text" name="txtMateria" [(ngModel)]="newClase.materia" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-button class="btnn" (click)="crearClase()" expand="block" color="success">Agregar</ion-button>
    </ion-item>
  </form>
</ion-content>
