<ion-header>
  <ion-toolbar>
    <ion-title>
      Iniciar Clase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Clase</ion-label>
      <ion-select [(ngModel)]="newAsistencia.clase" (ionChange)="cargarAlumnosDeClase()">
        <ion-select-option *ngFor="let clase of clases" [value]="clase.id">{{clase.seccion}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-input [(ngModel)]="newAsistencia.fecha" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Profesor</ion-label>
      <ion-input [(ngModel)]="newAsistencia.profesor" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Alumnos</ion-label>
      <ion-select multiple="true" [(ngModel)]="newAsistencia.alumnos">
        <ion-select-option *ngFor="let alumno of alumnosDeClase" [value]="alumno.id">{{alumno.id}}</ion-select-option>
      </ion-select>
    </ion-item>
    
  </ion-list>

  <ion-button expand="full" (click)="crearAsistencia()">Crear Asistencia</ion-button>
</ion-content>




 