<ion-content>
  <div class="container">
    <ion-card class="card">
      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-item>
            <ion-label position="floating">{{ "correo" | translate }}</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{ 'contraseña' | translate }}</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </form>
        <ion-button class="button" color="warning" (click)="login()" shape="round">{{ 'iniciar sesión' | translate }}</ion-button>
        <a class="centrado" [routerLink]="['/recuperacion']" style="color: darkgoldenrod">{{ '¿olvidaste tu contraseña?' | translate }}</a>
        <br>
        <h6>{{ 'si no tienes cuenta, regístrate' | translate }}</h6>
        <ion-icon name="arrow-down-outline"></ion-icon>
        <br>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar slot="end">
    <ion-button fill="outline" shape="round" class="boton" color="dark" [routerLink]="['/logindocente']">{{ 'docente' | translate }}</ion-button>
    <ion-button class="button" [routerLink]="['/register']" color="dark" shape="round">{{ 'Registrarse' | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>

