<ion-content>
  <div class="container">
    <ion-card class="card">
      <ion-card-content>
        <form [formGroup]="formularioLoginDocente">
          <ion-item>
            <ion-label position="floating">{{ 'correo' | translate }}</ion-label>
            <ion-input formControlName="correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{ 'contraseña' | translate }}</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{ 'rut' | translate }}</ion-label>
            <ion-input formControlName="rut"></ion-input>
          </ion-item>
        </form>

        <ion-button class="button" color="warning" shape="round" (click)="loginDocente()">
          {{ 'iniciar sesión' | translate }}
        </ion-button>
        <ion-button fill="outline" shape="round" class="boton" color="dark" [routerLink]="['/login']">
          {{ 'alumno' | translate }}
        </ion-button>

        <a class="centrado" [routerLink]="['/recuperacion']" style="color: darkgoldenrod">
          {{ '¿olvidaste tu contraseña?' | translate }}
        </a>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar slot="end">
    <ion-button class="button" color="dark" shape="round" [routerLink]="['/registerdocente']">
      {{ 'Registrarse' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
