<ion-content>
  <div class="container">
    <ion-card class="card">
      <ion-card-content>
        <form [formGroup]="formularioRegistro">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="contrasena" type="password"></ion-input>
          </ion-item>
          <!-- Agrega otros campos según tus necesidades -->
          <ion-button class="button" color="warning" shape="round" (click)="guardarDatosManualmente()">
            Registrate
          </ion-button>
          <h6>¿Ya tienes cuenta?</h6>
          <ion-icon name="arrow-down-outline"></ion-icon>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar slot="start">
    <ion-button class="button" [routerLink]="['/login']" color="dark" shape="round">
      Regresa al login
    </ion-button>
  </ion-toolbar>
</ion-footer>
