ion-card-content{
    text-align: justify;
}


ion-content {
    // ocultar scroll lateral
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .img-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  
  .logo-title {
    text-align: center;
  }
  
  .img-logo {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  