<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="img">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" />

    <ion-list *ngIf="alumno">
      <ion-item>
        <ion-label>{{ 'Nombre' | translate }}</ion-label>
        <ion-text>{{ alumno.nombre }} {{ alumno.apellido}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Correo' | translate }}</ion-label>
        <ion-text>{{ alumno.correo }}</ion-text>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="floating">{{ 'Asistencia ID' | translate }}</ion-label>
      <ion-input [(ngModel)]="asistenciaIdInput" type="text"></ion-input>
    </ion-item>

    <ion-button class="margin" (click)="detalle()" shape="round" color="warning">{{ 'Detalle' | translate }}</ion-button>
    <ion-button class="margin" (click)="asistencia()" shape="round" color="warning">{{ 'Asistencia' | translate }}</ion-button>

    <!-- Modify the button to use the user-input asistenciaId -->
    <ion-button class="margin" (click)="marcarPresente()" shape="round" color="success">
      {{ 'Marcar Asistencia' | translate }}
    </ion-button>
  </div>
</ion-content>

<ion-fab class="padd" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle" color="dark"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <!-- Other fab buttons as needed -->
  </ion-fab-list>
</ion-fab>
