<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="img">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" />

    <ion-list *ngIf="alumno">
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-text>{{ alumno.nombre || 'Nombre de Usuario' }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-text>{{ alumno.correo || 'Correo de Usuario' }}</ion-text>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="!alumno">
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-text>Nombre de Usuario</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-text>Correo de Usuario</ion-text>
      </ion-item>
    </ion-list>

    <ion-button class="margin" (click)="detalle()" shape="round" color="warning">Detalle</ion-button>
    <ion-button class="margin" (click)="asistencia()" shape="round" color="warning">Asistencia</ion-button>
  </div>
</ion-content>

<ion-fab class="padd" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle" color="dark"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon (click)="login()" name="close-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
